[submodule "charge-collector"]
	path = charge-collector
	url = git@github.com:xmarts/charge-collectors.git
	branch = main

[submodule "colonias"]
	path = colonias
	url = git@github.com:xmarts/colonias.git
	branch = 13.0

[submodule "commission-control"]
	path = commission-control
	url = git@github.com:xmarts/commission-control.git
	branch = 13.0

[submodule "mortuary"]
	path = mortuary
	url = git@github.com:xmarts/mortuary.git
	branch = main

[submodule "multi-branch"]
	path = multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = master

[submodule "series-purchase"]
	path = series-purchase
	url = git@github.com:xmarts/series-purchase.git
	branch = 13.0

[submodule "xmarts-aplicativos"]
	path = xmarts-aplicativos
	url = git@github.com:xmarts/xmarts-aplicativos.git
	branch = 13.0

[submodule "comisiones"]
	path = comisiones
	url = git@github.com:xmarts/comisiones.git
	branch = main
[submodule "PABS"]
	path = PABS
	url = git@github.com:eserrano-pabs/PABS.git
